div.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3rem;
  div.header {
    h1 {
      font-family: "Roboto Condensed", sans-serif;
      color: white;
      font-size: 3rem;
    }
  }
}
